#ddr_player {
	position: relative;
	z-index: 0;
	/* background-color: #00CCFF; */
	width: 400px;
	height: 700px;
}

#ddr_player_bg_layer{
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 700px;
	/* background-image: url("/img/bg_dance.png"); */
	background-color: azure;
}

#ddr_player_layer1{
	position: absolute;
	z-index: 2;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 700px;
}

.note_order{
	cursor: pointer;
}
.note_selected{
	background-color: aqua;
}

.logo_img{
	width: 60px;
	height: 60px;
}

.logo_text{
	width: 300px;
}
